*{
    box-sizing: border-box;
}
.form-container{
    width:50%;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom:18px;
    font-family:sans-serif;
}
.form-group label{
    font-weight:400;
}

.form-control{

    height:30px;
    border-radius:25px;
    border: 1px solid #dee3e0;

}
::placeholder {
    color: #dee3e0;;
    padding-left: 15px;
  }
  .btn-submit{
    margin-top: 24px;
    height: 35px;
    border-radius:25px;
    border: 1px solid #dee3e0;
    background-color: #3A5B22;
    color: white;
    font-weight: 700;
  }
  .btn-google{
    margin-top: 24px;
    height:30px;
    border: 1px solid #dee3e0;
    font-weight:700;
    border-radius:10px;
  }
  .form-para{
    margin-top:24px;
    margin-left:100px;
    font-weight:600;
    font-family: sans-serif;
  }
  .sign-link{
    padding-left: 10px;
  }
  .or-line{
    position:absolute;
    margin-top: -1.3rem;
    margin-left:20%;
    padding: 0 5px;
    background-color:white;
  }
  .hr-div{
        margin-top: 1.5rem;
        width:40%;
  }
  