*{
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    margin-top: 18px;
    padding: 0 100px;
}
.image-div{
    flex-grow:1;
}
.list-items{
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    gap:30px;
    color: #3c30b0;
   
    font-family:Arial, Helvetica, sans-serif;
    
    

}
.nav-buttons{
    display: flex;
    gap:10px;
    margin-top:12px;  
    margin-left: 20px;
    font-weight:700;
}
button{
    
    width:80px;
    height:25px;
    font-weight:500;
    font-family: sans-serif;
    
    
}
.btn-sign-up {
    background-color: #3c30b0;
    border: 1px solid #244cd6;
    border-radius:4px;
    padding:4px;
}
.btn-sign-up a{
    color: white;
    text-decoration: none;
    
}
.btn-sign-in{
    background-color: white;
    border:1px solid white;
    
}
.btn-sign-in a{
    text-decoration: none;
    color:#0c78f2;
}
